<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.androidgroup.flyingchess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChooseModeActivity">

        </activity>

        <activity android:name=".SearchingActivity">

        </activity>

        <activity android:name=".ChooseRoomActivity">

        </activity>

        <activity android:name=".GameActivity">

        </activity>

        <activity android:name=".PersonalInformationActivity">

        </activity>

        <activity android:name=".ChangeInformationActivity">

        </activity>

        <receiver android:name=".BackToLoginAndRegisterReceiver">
            <intent-filter>
                <action android:name="com.test.androidgroup.flyingchess.BACK_TO_LOGIN_REGISTER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
